@using System.Security.Claims
@{
    ViewBag.Title = "Claims";
}
<h2>@ViewBag.Title</h2>

<h4>Claims Present in the Claims Identity: @ViewBag.DisplayName</h4>

<table class="table-hover claim-table">
    <tr>
        <th class="claim-type claim-data claim-head">Claim Type</th>
        <th class="claim-data claim-head">Claim Value</th>
    </tr>

    @foreach (Claim claim in ClaimsPrincipal.Current.Claims)
    {
        string myClaim = @claim.Value;
        string search = "emails";
        <tr>
            <td class="claim-type claim-data">@claim.Type</td>
            if (@claim.Value.Equals(@search).Equals(true))
            {
            <td class="claim-data">@claim.Value Found email!</td>
            }
            else
            {
            <td class="claim-data">@claim.Value</td>
            }
            
            
            
        </tr>
    }
</table>